<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Grocery Keeper</title>

</head>

<body>

  <nav>
    <div class="nav-wrapper blue darken-3">
      <div class="container">
        <a href="#" class="brand-logo center">Grocery Keeper</a>
        <ul class="right">
          <li>
            <a href="#" class="clear-all-btn btn-floating waves-effect blue hoverable">
              <i class="material-icons">delete_forever</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>

  <div class="container">

    <div class="card">
      <div class="card-content">
        <span class="card-title">Add Grocery Item</span>
        <form class="col">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" placeholder="Add Item" id="item-name" />
              <label for="item-name">Food Item</label>
            </div>
            <div class="input-field col s6">
              <input type="number" placeholder="Add Price" id="item-price" />
              <label for="item-price">Price</label>
            </div>
            <div class="input-field col s6">
              <input type="text" placeholder="Add Store" id="item-store" />
              <label for="item-store">Store</label>
            </div>
          </div>
          <div class="row">
            <button class="add-btn btn waves-effect waves-light blue darken-2">
              <div class="valign-wrapper"><i class="material-icons">add</i>Add Food Item</div>
            </button>
            <button class="update-btn btn waves-effect waves-light green darken-2">
              <div class="valign-wrapper"><i class="material-icons">update</i>Update Food Item</div>
            </button>
            <button class="delete-btn btn waves-effect waves-light red darken-2">
              <div class="valign-wrapper"><i class="material-icons">delete</i>Delete Food Item</div>
            </button>
            <button class="back-btn btn waves-effect grey lighten-1 right">
              <div class="valign-wrapper"><i class="material-icons left">chevron_left</i>back</div>
            </button>
          </div>
        </form>
      </div>
    </div>

    <br>

    <table class="highlight striped centered">
      <thead id="shops-table-head"></thead>
      <tbody id="shops-table-body">
      </tbody>
    </table>

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="module" src="../src/app.js"></script>

</body>

</html>